<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>News</title>
    <style>
    nav li {
    padding-right: 10px;
    }
    </style>
    
    <link href="stylesheets/general.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
	<link href="css/half-slider.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <img src="http://i1078.photobucket.com/albums/w500/ksmhnews/11049512_735282239917589_3428934561821616142_n_zpse6fsuzsc.jpg" alt="logo" align=left align=top length="120" width="90"/>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" align="center">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                
                <center>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                	<li>
                		<h3><%= link_to " Home ", welcome_homepage_path %></h3> 
                	</li>	
					<li>
                        <h3><%= link_to " News ", news_subpage_path %></h3> 
                    	
                    </li>
                   <!-- <li>
                    	
                        <h3><%= link_to " About ", about_subpage_path %></h3> 
                    	
                    	
                    </li>
                    <li>
                        <h3><%= link_to " Social ", social_subpage_path %></h3> 
                    </li> -->
                    </center>
                </ul>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<center>
<img src="http://i1078.photobucket.com/albums/w500/ksmhnews/c3_zps9zlklwgi.jpg" alt="Keith Emerson"/>
<h1>A star fell out of the sky of legends: <br><hr><small>Keith Emerson dies at age 71</small><hr><h1>
</center>
<p>
<pre>
03/11/16 - Keith Emerson passed away today due to a self inflicted gunshot wound, the BBC reports.  
Keith Emerson, known for his career as a keyboardist in the progressive rock band: Emerson, Lake, and Palmer, 
was a legend in the progressive rock scene. Emerson was previously apart of other acts  
such as “The Vips” and several other groups. He was also known for his use of a 
lesser known instrument which is the analogue synthesizer. He was 71 years old.
<pre>
<p>

<p>
Copywrite &copy; 2016 KSMH News/Adam Denton
<p>
</body>
</html>