<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>News</title>
    <style>
    nav li {
    padding-right: 10px;
    }
    </style>
    
    <link href="stylesheets/general.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
	<link href="css/half-slider.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <img src="http://i1078.photobucket.com/albums/w500/ksmhnews/11049512_735282239917589_3428934561821616142_n_zpse6fsuzsc.jpg" alt="logo" align=left align=top length="120" width="90"/>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" align="center">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                
                <center>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                	<li>
                		<h3><%= link_to " Home ", welcome_homepage_path %></h3> 
                	</li>	
					<li>
                        <h3><%= link_to " News ", news_subpage_path %></h3> 
                    	
                    </li>
                  <!--  <li>
                    	
                        <h3><%= link_to " About ", about_subpage_path %></h3> 
                    	
                    	
                    </li>
                    <li>
                        <h3><%= link_to " Social ", social_subpage_path %></h3> 
                    </li> -->
                    </center>
                </ul>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<center>
<h1>Editorial: Mental Health Funding</h1>
<img src="http://i1078.photobucket.com/albums/w500/ksmhnews/c2_zpst31p6ixe.jpg" alt="Mental Health"/>
</center>
<div>
<pre>
<p>
In the state of Kansas, funding for mental health services is in continuous strain 
from severely minuscule levels of funding. For the many people who benefit from these services, 
the lack of funding is a fatal blow to what is already a fragile system. In an interview with the Kansas 
Health Institute's news division, Rick Cagan (President for the Kansas chapter of the National Alliance 
on Mental Illness) noted that the 1 million dollar increase to the grant fund for Community Mental Health 
Centers is only a “drop in the bucket” as compared to what is actually needed. Figure 1 shows the funding
levels for the Mental Health System over the last several years.
</p>
</pre>
<center>
<img src="http://i1078.photobucket.com/albums/w500/ksmhnews/Mental_Health_Reform_Grant___FY_2007FY_2013_1_t180_zpsgmkzv3cf.png" alt="Funding Amounts" Length="900" Width="600"/>
*figure 1: Funding Levels for Mental Health in Kansas
</center>
<p>
<pre>
Since the first quarter of this decade, Osawatomie and the other state hospitals are coping with 
a large overpopulation of patients with very limited staff. According to Mark Hornsby, 
a former patient at Osawatomie State Hospital, over crowding is a major issue. 
In an interview with KHI, He says that “it got really crowded in their.” 
The cause of the intense overcrowding of the state hospitals is partly because of the closing and 
conversion of the Rainbow Mental Health Facility in Kansas City to a private crisis center, now 
known as Rainbow Services Incorporated, which opened in April of 2014.

One of the root causes of the funding debacle is the inability for lawmakers of the state of Kansas to Expand Medicaid. 
As part of the Affordable Care Act, all 50 states are entitled to federal funding to assist with the expansion of Medicaid. 
Even with this incentive, Many GOP states will not provide one of the most basic human rights: Healthcare. 
Access to healthcare and mental healthcare are Increasingly critical to the wellbeing of any individual within 
the borders of the United States. Many people in our nation make around 30% or less of the federal median income. 
Without Medicaid and/or Medicare, these families will not have access to the health services needed for the wellbeing 
of the american people.


Within a similar concept is with the mentally ill. A proper and adequate mental health system is critical to the 
wellbeing of people with Mental Illness. According to the director of Episcopal Social Services' organization: Breakthrough Club – 
a clubhouse for people with various mental illnesses, The clubhouses and other consumer-run organizations have a huge and immensely positive 
impact to the stability and wellbeing of the mentally ill. He notes that, 
“Clubhouses are a proven way to reduce hospitalizations.”

Breakthrough and many other organizations who provide services for the mentally ill 
are in jeopardy because of lack of funding. This is a huge and immensely complicated problem 
that will continue to decline until full funding is restored.
</div>
<footer>
Copyright &copy; 2016 KSMH News/Adam Denton
</footer>
</body>
</html>